body {
    background-color: whitesmoke;
    display:grid
}

.container{
    display: grid;
}

h1 {
    display:grid;
    justify-content: center;
    height:auto;
    font-size: auto;

}

[class*="col-"]{
    border: 1px solid red;
}